<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Modelo_de_Datos.Properties.Settings.TaxiSoftConnectionString"
            connectionString="Data Source=TEAMSOFT-LAPTOP;Initial Catalog=TaxiSoft;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>